:root {
   --backgroundColor0: hsl(0, 0%, 10%);
   --backgroundColor1: hsl(0, 0%, 20%);
   --fontColor: hsl(0, 0%, 80%);
   --fontFamily: Arial, sans-serif;
}

* {
   transition: all 0.5s;
}

select {
   overflow: auto;
   height: 3rem;
   width: auto;
   background-color: transparent;
   color: var(--fontColor);
   border: none;
   cursor: pointer;
}

select option {
   border-radius: 5%;
   border: transparent solid 0.2rem;
}

select option:hover {
   border: var(--fontColor) solid 0.2rem;
}

.selectMenu option {
   display: block;
   float: left;
   border-radius: 25%;
   cursor: pointer;
   background-color: transparent;
   font-size: x-large;
   border: transparent solid 0.2rem;
}

.selectMenu option:hover {
   border: var(--fontColor) solid 0.2rem;
}

select:focus,
select:active,
select:hover {
   outline: none;
}

.icon {
   color: transparent;
   text-shadow: 0 0 0 var(--fontColor);
}

.mainAreaButtonArea button {
   float: right;
   border-radius: 25%;
   cursor: pointer;
   background-color: transparent;
   border: transparent solid 0.2rem;
   font-size: x-large;
   transform: translateY(-150%);
}

.mainAreaButtonArea button:hover {
   border: var(--fontColor) solid 0.2rem;
}

#all {
   transition: none;
   opacity: 0;
}

#loadingAll {
   content: " ";
   position: absolute;
   height: 3rem;
   width: 3rem;
   right: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

   border: 10px solid var(--fontColor);
   border-top: 10px solid transparent;
   border-radius: 50%;
   animation: spin 1s linear infinite;
   z-index: 10;
   transition: opacity 1s linear;
}

body {
   padding: 0;
   margin: 0;
   border: 0;

   background-color: var(--backgroundColor0);
   color: var(--fontColor);
   font-family: var(--fontFamily);
   display: inherit;
}

video {
   width: 100%;
   height: auto;
}

.mainArea {
   position: relative;
   width: 20%;
   float: left;
   margin: 20px;
   padding: 10px;
   padding-top: 0px;
   background-color: var(--backgroundColor1);
   border-radius: 10px;
   filter: drop-shadow(5px 7px 4px black);
   border: 0.2rem solid var(--fontColor);
}

.mainAreaArrow:after {
   content: " ";
   position: absolute;
   height: 0;
   width: 0;
   left: 100%;
   top: 50%;
   transform: translate(0%, -50%);
   border: 75px solid transparent;
   border-left: 30px solid var(--backgroundColor1);
   filter: drop-shadow(5px 7px 4px black);
}

.mainAreaLoading:before {
   content: " ";
   position: absolute;
   height: 20px;
   width: 20px;
   right: 15px;
   top: 15px;
   transform: translate(-50%, -50%);

   border: 6px solid var(--fontColor);
   border-top: 6px solid transparent;
   border-radius: 50%;
   animation: spin 1s linear infinite;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

img {
   width: 100%;
   height: auto;
   background-position: center;
}

.imageArea {
   margin: auto;
   width: 100%;
}

.imageArea img {
   margin: auto;
   max-width: 30%;
   max-height: 150px;
}

#pointCloudCanvas,
#inputRenderCanvas {
   width: 100% !important;
   height: 500px !important;
   max-height: 60vh !important;
   cursor: all-scroll;
}
