:root {
   --backgroundColor0: hsl(0, 0%, 25%);
   --backgroundColor1: hsl(0, 0%, 40%);
   --fontColor: hsl(0, 0%, 90%);
   --fontFamily: sans-serif;
}

body {
   padding: 0;
   margin: 0;
   border: 0;

   background-color: var(--backgroundColor0);
   color: var(--fontColor);
   font-family: var(--fontFamily);
}

.main-area {
   float: left;
   margin: 20px;
   padding: 10px;
   background-color: var(--backgroundColor1);
}
