name: Generate Issues

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:    

    - name: Checkout
      uses: actions/checkout@v2.3.4
      
    - name: TODO to Issue
      uses: alstr/todo-to-issue-action@v4.2
      with:
        CLOSE_ISSUES: true
        AUTO_P: true
